<div class="container">
  <div class="row">
    <div class="col-md-4">
      <form>
        <input type="text" class="form-control" id="filtro1" placeholder="Filtro1">
        <input type="text" class="form-control" id="filtro2" placeholder="Filtro2">
        <input type="text" class="form-control" id="filtro3" placeholder="Filtro3">
      </form>
    </div>
    <div class="col-md-8">
      <span *ngIf="loading">
        <i class='fa fa-circle-o-notch fa-spin'></i><span i18n>Processing</span>
      </span>
      <ul class="list-group" *ngIf="pollSessionResult">
        <li class="list-group-item" *ngFor="let it of pollSessionResult.Itineraries">
          <app-itinerary [itinerary]="it"></app-itinerary>
        </li>
      </ul>
    </div>
  </div>
</div>
