<div class="row">
  <div class="col-12 col-sm-12 col-md-4">
    <form [formGroup]="filterForm" (ngSubmit)="load()" class="shadow-sm p-3 mb-5 bg-white rounded">
      <fieldset [disabled]="loading">
        <div class="form-group">
          <label for="stops">
            <input type="checkbox" id="stops" formControlName="stops">
            <span i18n> Direct</span>
          </label>
        </div>
      </fieldset>
      <button type="submit" [disabled]="!filterForm.valid || loading" name="filter" class="btn btn-primary">
        <span *ngIf="loading" i18n>Search <i class='fa fa-spinner fa-spin'></i></span>
        <span *ngIf="!loading" i18n>Search</span>
      </button>
    </form>
  </div>
  <div class="col-12 col-sm-12 col-md-8 align-self-center">
    <div class="text-center">
      <h5 *ngIf="loading" i18n>Loading <i class='fa fa-spinner fa-spin'></i></h5>
    </div>
    <div *ngIf="pollSession.collectionSize > 0 && !loading">
      <app-itinerary class="mt-3" *ngFor="let it of itinerariesPage" [itinerary]="it"></app-itinerary>
      <ngb-pagination [pageSize]="pollSession.pageSize"
        [collectionSize]="pollSession.collectionSize" [(page)]="pollSession.pageIndex"
        [maxSize]="5" [boundaryLinks]="true" [directionLinks]="true"
        [rotate]="true" [ellipses]="true"
        (pageChange)="loadPage($event)"></ngb-pagination>
    </div>
  </div>
</div>
