<div class="modal-header" i18n>
  Choose a solution
</div>
<div class="modal-body">
  <div class="card border-light">
    <div class="card-body">
      <h5 class="card-title" i18n>Best solution</h5>
      <div class="row">
        <div class="col-12 col-md-10">
          <div class="row">
            <div class="col-md-12">
              <app-leg [leg]="findLegById(itinerary.OutboundLegId)"></app-leg>
            </div>
          </div>
          <hr class="my-4">
          <div class="row">
            <div class="col-md-12">
              <app-leg [leg]="findLegById(itinerary.InboundLegId)"></app-leg>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-2 align-self-center">
          <h5 class="text-success">{{itinerary.PricingOptions[0].Price}}</h5>
          <a class="btn btn-sm btn-success" [href]="itinerary.PricingOptions[0].DeeplinkUrl" i18n>Book this</a>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div class="card border-light">
    <div class="card-body">
      <h5 class="card-title" i18n>Other solutions</h5>
      <div class="row">
        <div class="col-12 col-md-12">
          <ul class="list-group list-group-flush scrollList">
            <li class="list-group-item" *ngFor="let priceOption of itinerary.PricingOptions | slice:1; let i = index">
              <div class="row">
                <div class="col-3 col-md-2">
                  <app-agent [agent]="getAgent(priceOption.Agents[0])"></app-agent>
                </div>
                <div class="col-5 col-md-8">
                  <h5 class="text-success">{{priceOption.Price}}</h5>
                </div>
                <div class="col-1 col-md-2">
                  <a class="btn btn-sm btn-success" [href]="priceOption.DeeplinkUrl" i18n>Book this</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-secondary" (click)="back()" i18n>Close</button>
</div>
