<div class="row">
  <div class="col-12 col-sm-2 col-md-2 text-center">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12" *ngFor="let carrierId of leg.Carriers">
        <app-carrier class="mb-2" [carrier]="getCarrier(carrierId)"></app-carrier>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-4 col-md-4 text-center">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12">
        <span>{{ leg.Departure | date:'HH:mm' }}</span>&nbsp;<span><i class="fa fa-plane-departure"></i></span>
      </div>
      <div class="col-12 col-sm-12 col-md-12">
        <app-place [place]="getPlace(leg.OriginStation)" [badgeClass]="'badge-secondary'"></app-place>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-2 col-md-2 text-center">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12">
        <span><i class="fa fa-plane"></i></span>
      </div>
      <div class="col-12 col-sm-12 col-md-12">
        <span>{{ leg.Duration | hoursMinutes}}</span>
      </div>
      <div class="col-12 col-sm-12 col-md-12">
        <span class="badge" [ngClass]="{'badge-danger':leg.Stops.length > 0,'badge-success':leg.Stops.length === 0}" [innerText]="getFlightType()"></span>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-4 col-md-4 text-center">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12">
        <span><i class="fa fa-plane-arrival"></i></span>&nbsp;<span>{{ leg.Arrival | date:'HH:mm' }}</span>
      </div>
      <div class="col-12 col-sm-12 col-md-12">
        <app-place [place]="getPlace(leg.DestinationStation)" [badgeClass]="'badge-secondary'"></app-place>
      </div>
    </div>
  </div>
</div>
