<div id="div1" class="card border-light shadow-sm p-3 mb-5 rounded" [ngClass]="{'text-white bg-info':itinerary.selected, 'bg-white':!itinerary.selected}" (click)="goToDetail()">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-10">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12">
          <app-leg [leg]="findLegById(itinerary.OutboundLegId)"></app-leg>
        </div>
      </div>
      <hr class="my-4">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12">
          <app-leg [leg]="findLegById(itinerary.InboundLegId)"></app-leg>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-2 align-self-center">
      <h5><span class="badge badge-primary">{{itinerary.PricingOptions[0].Price | currency:'EUR'}}</span></h5>
    </div>
  </div>
</div>
