<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light shadow p-3 mb-5 bg-white">
  <a class="navbar-brand" href="#">
    <img src="assets/img/contrail.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Contrail
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <div class="nav-item" ngbDropdown [autoClose]="false">
        <label for="dropdownLocale" class="col-form-label" i18n></label>
        <button type="button" class="btn btn-outline-primary align-self-center" id="dropdownLocale" ngbDropdownToggle>
          {{getLocale()}}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownLocale">
          <div class="card">
            <div class="card-body">
              <form>
                <div class="form-group">
                  <label for="locale">locale</label>
                  <select class="form-control" id="locale" name="locale" [(ngModel)]="session.locale" required>
                    <option [value]="'it'">Italian</option>
                    <option [value]="'en'">English</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="country">country</label>
                  <select class="form-control" id="country" name="country" [(ngModel)]="session.country" required>
                    <option [value]="'IT'">Italy</option>
                    <option [value]="'GB'">United Kingdom</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="currency">currency</label>
                  <select class="form-control" id="currency" name="currency" [(ngModel)]="session.currency" required>
                    <option [value]="'EUR'">EUR</option>
                    <option [value]="'GBP'">GBP</option>
                  </select>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </ul>
  </div>
</nav>
