<nav class="navbar navbar-expand-md navbar-light bg-white sticky-top shadow p-3">
  <a class="navbar-brand" routerLink="/home/session" routerLinkActive="true">
    <img src="assets/img/contrail.png" width="30" height="30" class="d-inline-block align-top" alt=""> Contrail
  </a>
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/signin">Sign in</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/signup">Sign up</a>
      </li>
    </ul>

    <form class="form-inline">
      <div class="nav-item" ngbDropdown [autoClose]="false">
        <button type="button" class="btn btn-sm btn-outline-primary" role="button" id="dropdownLocale" ngbDropdownToggle>
          {{getLocale()}}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownLocale">
          <div class="card">
            <div class="card-body">
              <form>
                <div class="form-group">
                  <label for="locale">locale</label>
                  <select class="form-control" id="locale" name="locale" [(ngModel)]="session.locale" required>
                    <option [value]="'it'">Italian</option>
                    <option [value]="'en'">English</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="country">country</label>
                  <select class="form-control" id="country" name="country" [(ngModel)]="session.country" required>
                    <option [value]="'IT'">Italy</option>
                    <option [value]="'GB'">United Kingdom</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="currency">currency</label>
                  <select class="form-control" id="currency" name="currency" [(ngModel)]="session.currency" required>
                    <option [value]="'EUR'">EUR</option>
                    <option [value]="'GBP'">GBP</option>
                  </select>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="nav-item" ngbDropdown *ngIf="user">
        <button class="btn btn-sm btn-outline-primary" role="button" id="dropDownUser" ngbDropdownToggle>
          <span [innerText]="user.name"></span>
          <img *ngIf="user.imgPath" [src]="user.imgPath" width="30" height="30" class="rounded-circle" alt="">
        </button>
        <div ngbDropdownMenu aria-labelledby="dropDownUser">
          <!-- <button class="dropdown-item"><span><i class="fa fa-cogs" aria-hidden="true"></i></span> Area Admin</button>
          <div role="separator" class="dropdown-divider"></div> -->
          <button class="dropdown-item" type="submit" (click)="logout()"><span><i class="fa fa-power-off" aria-hidden="true"></i></span> Logout</button>
        </div>
      </div>
    </form>
  </div>
</nav>
